<h1>Cadastro de Cliente</h1>
<form action="/teste/insertteste" method="POST" class="form">
<div class="form-control">
    <label for="nome">Insira seu nome</label>
    <input type="text" name="nome" placeholder="Insira seu nome">
</div>
<input type="submit" value="Cadastrar">
</form>